body {
  color: #40514E;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #9DDFD3;
  height: 0;
  margin: 100px auto 100px auto;
  width: 5%;
}

div {
  background-color: #EBFFFB;
}

span {
  font-style: italic;
}

h2 {
  color: #31326F;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #FF6701;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

p {
  line-height: 2;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: justify;
}

.heading {
  color: #31326F;
  font-family: 'Itim', cursive;
  font-size: 5.625rem;
  margin: 0px auto 0 auto;
  padding-top: 100px;
  position: relative;
}

.intro {
  margin: auto;
  width: 40%;
}

.contact-msg {
  margin: auto;
  width: 40%;
}

.skill-row {
  font-family: 'Montserrat', sans-serif;
  margin: 100px auto 220px auto;
  width: 65%;
  text-align: left;
}

.skill-category {
  color: #18B0B0;
  font-size: 100%;
  padding-right: 25px;
}

.top-container {
  background-color: #EBFFFB;
  padding-top: 100px;
  position: relative;
}

.center-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #18B0B0;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 0 20px;
}

.contact-me {
  line-height: 3;
}

.footer-link {
  color: #9DDFD3;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 45px auto 10px auto;
}

.img-credit-right {
  float: right;
  font-size: 0.5rem;
  margin-left: 30px;
  position: relative;
  height: 25%;
  width: 25%;
}

.img-credit-left {
  float: left;
  font-size: 0.5rem;
  margin-right: 30px;
  position: relative;
  height: 25%;
  width: 25%;
}

.credit-info {
  position: relative;
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 475px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
}

.img-software {
  float: left;
  margin-right: 30px;
  width: 25%
}

.img-hardware {
  position: relative;
  width: 100%;
}

.img-misc {
  position: relative;
  width: 100%;
}

.BUTTON_ZUX {
   background: #18B0B0;
   background-image: -webkit-linear-gradient(top, #18B0B0, #4A81A1);
   background-image: -moz-linear-gradient(top, #18B0B0, #4A81A1);
   background-image: -ms-linear-gradient(top, #18B0B0, #4A81A1);
   background-image: -o-linear-gradient(top, #18B0B0, #4A81A1);
   background-image: -webkit-gradient(to bottom, #18B0B0, #4A81A1);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 30px;
   line-height: 30px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 200px;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 0 0 #000000;
   -moz-box-shadow: 1px 1px 0 0 #000000;
   box-shadow: 1px 1px 0 0 #000000;
   text-shadow: 1px 1px 0 #000000;
   border: solid #18B0B0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 60px auto 20px auto;
}

.BUTTON_ZUX:hover {
   border: solid #18B0B0 1px;
   background: #18B0B0;
   background-image: -webkit-linear-gradient(top, #18B0B0, #51A7A7);
   background-image: -moz-linear-gradient(top, #18B0B0, #51A7A7);
   background-image: -ms-linear-gradient(top, #18B0B0, #51A7A7);
   background-image: -o-linear-gradient(top, #18B0B0, #51A7A7);
   background-image: -webkit-gradient(to bottom, #18B0B0, #51A7A7);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
